@theme-error-color: #ff5630;

@theme-warning-color: #ffab00;

@theme-success-color: #36b37e;

@form-field-height: 26px;

.form-field-input {
  display: flex;
}

.form-field-label {
  height: @form-field-height;
  line-height: @form-field-height;

  .form-field-required {
    color: #ff5630;
  }
}

.form-field-layout-root {
  display: flex;
  flex: 1;
  width: 100%;

  .form-field-warning {
    color: @theme-warning-color;

    :global {
      .ant-input,
      .ant-select-selector,
      .ant-input-number,
      .search-popover-select-selected {
        border-color: @theme-warning-color !important;

        &:focus {
          box-shadow: 0 0 0 1px @theme-warning-color;
        }
      }
    }
  }

  .form-field-error {
    color: @theme-error-color;

    :global {
      .ant-input,
      .ant-select-selector,
      .ant-input-number,
      .search-popover-select-selected {
        border-color: @theme-error-color !important;

        &:focus {
          box-shadow: 0 0 0 1px @theme-error-color;
        }
      }
    }
  }
}

.form-field-vertical .form-field-label {
  margin-bottom: 4px;
}

.form-field-horizontal {
  display: flex;

  .form-field-label {
    width: 100px;
  }

  .form-field-input {
    flex: 1;
  }
}

.form-field-error-message-wrapper {
  min-height: 24px;
}

.form-field-error-message,
.form-field-warning-message {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 24px;
}

.form-field-layout-root-input {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-field-control {
  display: flex;
  align-items: center;
  min-height: 30px; /* 暂时不支持更大尺寸的 */
  & > div {
    flex: 1;
  }
}
